.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .shadow-text {
    &::after {
      content: '';
      @apply h-24 bg-gradient-to-b from-gray-800/0 to-gray-900/80 absolute w-full z-10 bottom-0;
    }
  }
}
.swiper-button-prev {
  &::after {
    content: 'prev';
    color: #88BB00;
  }
}
.swiper-button-next {
  &::after {
    content: 'next';
    color: #88BB00;
  }
}

.swiper-pagination-bullet-active{
  background-color: #88BB00;
}


